.stay-productive {
  padding: 150px 70px 0 70px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  grid-template-areas: "left-column image-col-2";
  margin-top: 200px;
  background-color: #f8f8fe;
  @include breakpoint(small) {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-areas:
      "image-col-2 "
      "left-column ";
    padding: 0px 20px 0px 20px;
    margin-top: 150px;
  }

  &::before {
    content: "";
    height: 10vh;
    width: 100%;
    background-image: url(/images/bg-curve-desktop.svg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -50px;
    @include breakpoint(small) {
      background-image: url(/images/bg-curve-mobile.svg);
      background-position: center;
      background-size: cover;
      height: 9vh;
    }
  }
  .image-col-2 {
    width: 100%;

    grid-area: image-col-2;
    @include breakpoint(small) {
      margin: 80px 0 80px 0;
    }
  }
  .left-column {
    grid-area: left-column;
  }
  .text-container {
    width: 100%;
  }

  h1 {
    font-size: 1.4rem;
    line-height: 1.3;
    margin-bottom: 25px;
    @include breakpoint(small) {
      text-align: center;
    }
  }
  p {
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 30px;
  }

  .cta-green {
    display: inline-block;
    align-items: center;

    a {
      text-decoration: none;
      color: $moderateCyan;
      padding-bottom: 5px;
      font-size: 0.7rem;
    }
    .icon-arrow {
      width: 22px;
      height: 22px;
      vertical-align: bottom;
    }

    hr {
      border: 1px solid $moderateCyan;
    }
  }
  .testimonial {
    margin: 70px 0 100px 0px;
    padding: 25px 20px 0px 20px;
    width: 60%;
    box-shadow: 0px 0px 5px #888888;
    background-color: #fff;
    position: relative;
    @media screen and (max-width: 800px) {
      margin: 40px auto 20px auto;
      width: 80%;
    }

    .quote {
      height: 18px;
      @include breakpoint(small) {
        height: 12px;
      }
    }
    .p-card {
      font-size: 0.7rem;
      margin-bottom: 10px;
    }
    .avatar {
      border-radius: 50%;
      height: 40px;
      @include breakpoint(small) {
        height: 27px;
      }
    }

    .container {
      display: inline-block;

      // grid-template-columns: repeat(auto-fit, minmax(50px 200px));
      // grid-template-areas:
      //  "picture name"
      //  "picture info";
      //grid-template-rows: repeat(2, (35px));
      //grid-gap: 9px;
      //height: 60px;

      .cust-name {
        font-weight: 800;
        margin: 0 0 0 3px;
        font-size: 15px;
        @include breakpoint(small) {
          font-size: 11px;
        }
      }
      .cust-design {
        font-family: $bodyFont;
        font-size: 0.6rem;
        margin: 0 0 30px 3px;
      }
    }
  }
}
